<form action="/bookmarks" method="post">
  <label for='url'>
  Insert bookmark URL
  </label>
  <input type="text" name="url" />
  <br>
  <br>
  <label for='title'>
  Insert bookmark title
  </label>
  <input type="text" name="title" />
  <input type="submit" value="Add" />
</form>